.lead__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

@media (max-width: 1280px) {
  .lead__title {
    font-size: calc(25px + (36 - 25) * ((100vw - 768px) / (1280 - 768)));
  }
}

@media (max-width: 767px) {
  .lead__title {
    font-size: 38px;
  }
}
