.header__burger {
  display: none;
  position: absolute;
  top: 30px;
  left: calc(16px + (70 - 16) * ((100vw - 320px) / (1280 - 320)));
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(../../../images/icons/menu-burger.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s ease;
  z-index: 1;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
  }
}
