.place {
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .place {
      flex-direction: column;
  }
}

@media (min-width: 768px) {
  .place:nth-child(even) {
      flex-direction: row-reverse;
      justify-content: space-between;
  }
}
